# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
.env
credentials.json

# Sistema
.DS_Store
Thumbs.db
*.log

# VS Code
.vscode/

# Mac/Linux swap files
*.swp
*.swo

# Square Cloud (opcional, se você usar builds locais)
squarecloud.build.json
squarecloud.config
squarecloud.project.json
requirements